POSTGRES_USER=erp
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=erp_crm

# Set to true if hot reload doesn't pick up changes (common with Docker on Windows)
WATCHPACK_POLLING=false
CHOKIDAR_USEPOLLING=false

OBSERVE_APP_KEY=
OBSERVE_APP_SECRET=
